@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&family=Josefin+Sans:wght@500;700&family=Lobster&family=Merriweather&family=Mochiy+Pop+P+One&family=Poppins:wght@600&family=Redressed&family=Roboto+Serif&display=swap');
/* font added--------------------------- */
body{
    background-color:  #DDDDDD;
    
    color: rgb(56, 55, 55);

}
.search-button{
    background-color: #F47340;
    color: white;
    border: none;
    border-radius: 3px;
}
.phone-section{
    justify-content: space-between;
}
.phone-card{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
box-shadow: 10px 10px 30px grey;
}
.phone-card img{
    border-radius: 20px;
   
    
}
.details-card{
   padding: 20px;
   border-radius: 20px;
   margin-left: 30px;
   margin-right: 20px;
}
.details-card img{
    width: 150px;
}

span{
    font-weight: 700;
}

#error-msg{
    display: none;
    color: red;
}